@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: sans-serif;
  @apply bg-gray-200 text-gray-900;
}

a:hover {
  text-decoration: underline;
}

@layer components {
  .card {
    @apply bg-gray-50 p-4 rounded flex flex-col gap-2;
  }
  .button {
    @apply transition-colors rounded-md py-2 px-4 shadow;
  }
  .button.secondary {
    @apply bg-gray-100 text-gray-700;
  }
  .button.secondary:hover {
    @apply bg-gray-50;
  }
  .button.secondary:active {
    @apply bg-white;
  }

  .button.brand {
    @apply bg-blue-500 text-white;
  }
  .button.brand:hover {
    @apply bg-blue-600;
  }
  .button.brand:active {
    @apply bg-blue-700;
  }
  .button.brand:disabled {
    @apply bg-blue-400;
  }
}
