@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: sans-serif;
  @apply bg-gray-200 text-gray-900;
}

a:hover {
  text-decoration: underline;
}

@layer components {
  .card {
    @apply bg-gray-50 p-4 rounded flex flex-col gap-2;
  }
  .button {
    @apply transition-colors bg-blue-500 rounded-md text-white py-2 px-4;
  }
  .button.brand {
    @apply bg-blue-500 text-white;
  }
  .button.brand:hover {
    @apply bg-blue-600;
  }
  .button.brand:active {
    @apply bg-blue-700;
  }
}
